<h3>Student Form</h3>
<div class="">
  <%= form_for(@student) do |f| %>
    <label for="first_name">First Name:</label><br>
    <%= f.text_field :first_name %><br>

    <label for="last_name">Last Name:</label><br>
    <%= f.text_field :last_name %><br>

    <%= f.submit %>
  <% end %>
</div>
