

<p>Student Form</p>
<%=  form_for @student do |t| %>
  <label for=""> First Name: </label>
  <%= t.text_field :first_name %> <br>
  <label for=""> Last Name: </label>
  <%= t.text_field  :last_name %> <br>
  <%= t.submit %>
<% end %>
