<h1>Student Update Form</h1>

<%= form_for(@student) do |f| %>
  <label>Student's first name:</label><br>
  <%= f.text_field :first_name %><br>

  <label>Student's last name:</label><br>
  <%= f.text_field :last_name %><br>

  <%= f.submit "Update Student name" %>
<% end %>
