<%= form_for(@student) do |f| %> 
    <label>f.label :first_name </label><br>
    <%= f.text_field :first_name %><br>

    <label>f.label :last_name </label><br>
    <%= f.text_field :last_name %><br>

    <%= submit_tag "Update Student" %>
<% end %>