<h1>Edit Student: </h1>
<%=form_for @student do |s|%>
  <label>Student first name:</label><br>
  <%=s.text_field :first_name%><br>
  <label>Student last name:</label><br>
  <%=s.text_field :last_name%><br>
  <br><br>
  <%=s.submit%>
<%end%>
