<h3>Student Edit Form</h3>

<%= form_for(@student) do |f| %>
  <label>Student FirstName:</label><br>
  <%= f.text_field :first_name %><br>

  <label>Student LastName</label><br>
  <%= f.text_field :last_name %><br>

  <%= f.submit  %>
<% end %>
