<%
=begin %>
form_for is best for dynamic crud

This is how to do a comment in an html.erb file
https://stackoverflow.com/questions/3127644/block-comments-in-html-erb-templates-in-rails
=end %> 


<%= form_for(@student) do |f| %>
  <label>First Name:</label><br>
  <%= f.text_field :first_name %><br>

  <label>Last Name:</label><br>
  <%= f.text_area :last_name %><br>

  <%= f.submit %>
<% end %>