<%= form_for(@student) do |f| %>
  <label> Student.first_name: </label> <br>
  <%= f.text_tag :first_name %> <br>

  <label> Student.last_name: </label> <br>
  <%= f.text_tag :last_name %> <br>

  <%=g.submit %>
  <% end %>
