<h3>Student Edit</h3>

<%= form_for(@student) do |f| %>
  <label>Edit First Name:</label><br>
  <%= f.text_field :first_name %><br>

  <label>Edit Last Name:</label><br>
  <%= f.text_area :last_name %><br>

  <%= f.submit %>
<% end %>
