<%= form_for(@student) do |f| %>
  <label>Edit Student First Name:</label><br>
  <%= f.text_field :first_name %><br>
  <label>Edit Student Last Name:</label><br>
  <%= f.text_field :last_name %><br>

  <%= f.submit %>
<% end %>
