<%= form_for(@student) do |f| %>
  <label>First Name:</label><br>
  <%= f.text_field :student_first_name %><br>
  <label>Last Name:</label><br>
  <%= f.text_field :student:last_name %><br>
  <%= f.submit "Update Student"%>
<% end %>