<%= form_for(@student) do |f| %>
  <label>Student's Last Name:</label>
  <%= f.text_field :last_name%>

  <label>Student's First Name:</label>
  <%= f.text_field :first_name%>

  <%= f.submit %>
<% end %>
