<h1>Student Form</h1>

<%= form_for @student do |t| %>

<label>Student First Name:</label><br>
<%= t.text_field :first_name %><br>

<label>Student Last Name:</label><br>
<%= t.text_field :last_name %><br>

<%= t.submit "Update Student" %>

<% end %>