<h1>Student Form</h1>

<%= form_for(@student) do |f| %>
  <label>First Name:</label><br>
  <%= f.text_field :first_name, placeholder: "Edit First Name" %><br>

  <label>Last Name:</label><br>
  <%= f.text_field :last_name, placeholder: "Edit Last Name" %><br>

  <%= f.submit %>
<% end %>