<%= form_tag student_path(@student), method: "put" do %>
  <h1>Student Form</h1>
  <label>First Name</label>
  <%= text_field_tag :student_first_name, @student.first_name %>
  <label>Last Name</label>
  <%= text_field_tag :student_last_name, @student.last_name %>
  <%= submit_tag "Update Student" %>
<% end %>
