<h1>Listing Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to(student.to_s, student) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
