<h2>Students</h2>

<% @students.each do |student| %>
  <% unless student.first_name == nil || student.last_name == nil %>
    <div><%= link_to student.to_s, student_path(student) %></div>
  <% end %>
<% end %>
