<h1> Student List Form </h1>

<% if @students.size > 0 %>
  <% @students.each do |student| %>
    <div><%= link_to student.to_s, student_path(student) %></div>
  <% end %>
<% else %>
  <h3> There are no students to show </h3>
<% end %>
