
<h1><label>ALL Students</label></h1>
<tr>
  <th><strong>ID</th>
  <th>Student</strong></th>
</tr><br> 

<% @students.each do |student| %>
  <%= link_to "#{student.id} #{student.to_s}",student_path(student) %><br>
   
<% end %>
<br>
<br>
<h2><%= link_to "CREATE new student", new_student_path %></h2>