<h1>Student Form</h1>
<p>Find me in app/views/students/new.html.erb</p>
<%= form_for(@student) do |f| %>
  <label>First name:</label><br>
  <%= f.text_field :first_name %><br>

  <label>Last name:</label><br>
  <%= f.text_field :last_name %><br>

  <%= f.submit %>
<% end %>
