<h1>Student Form</h1>
<%= form_for(@student) do |sc| %>
    <label>Student First Name:</label><br>
    <%= sc.text_field :first_name%><br>

    <label>Student Last Name:</label><br>
    <%= sc.text_field :last_name%><br>

      <%= sc.submit %>
<%end%>
