<h3>Student Form</h3>


<%= form_for(@student) do |f| %>
  <label>Student first_name:</label><br>
  <%= f.text_field :first_name %><br>

  <label>Student last_name</label><br>
  <%= f.text_field :last_name %><br>

  <%= f.submit %>
<% end %>
