
<h1>Student Form</h1>
<%= form_tag("/students") do %>
<label>First Name </label>
<%=text_field_tag ('student[first_name]') %>
<label>Last Name </label>
<%=text_field_tag ('student[last_name]') %>
<%= submit_tag "Create Student" %>

<%end%>
