<h2>Student Form</h2>
<%= form_for(@student) do |f|%>
<label>First Name:</label><br/> 
<%=f.text_field :first_name%>
<label>Last Name:</label>
<%=f.text_field :last_name%>
<%=f.submit 'Create Student' %>
<%end%>