<h1>Student Sign-Up </h1>

<%= form_for @student do |s| %>
  <label>Student Form:</label><br>
  <br><br>
  <label>First Name:</label><br>
  <%= s.text_field :first_name %><br>
  <label>Last Name:</label><br>
  <%= s.text_field :last_name %><br>

  <br><br>

  <%= s.submit %>
<% end %>
