<h1>Student Form</h1>

<%= form_for(@student) { |form| %>
<%=form.text_field(:first_name, :id => "student_first_name")%>
<%=form.text_field(:last_name, :id => "student_last_name")%>
<%=form.submit%>
<%}%>