<h2>Student Form</h2>
<%= form_for(@student) do |f| %>
  <label>Student's first name:</label><br>
  <%= f.text_field :first_name %>

  <label>Student's last name:</label><br>
  <%= f.text_field :last_name %>

  <%= f.submit "Create Student" %>
<% end %>