<h2>Student Form</h2>

<%= form_for(@student) do |f| %>
  <label>First:</label><br>
  <%= f.text_field :first_name %><br>

  <label>Last:</label><br>
  <%= f.text_field :last_name %><br>

  <%= f.submit %>
<% end %>