<h1>Student Form</h1>
<%= form_for(@student) do |s| %>
  <label>First Name:</label><br>
  <%= s.text_field :first_name %><br>

  <label>Last Name: </label><br>
  <%= s.text_field :last_name %><br>

  <%= s.submit %>
<% end %>
