<h1>Student Form</h1>

<div>
  <%= form_for(@student) do |f| %>
  
    <label>First Name:</label>
    <div><%= f.text_field :first_name %></div>

    <label>Last Name:</label>
    <div><%= f.text_field :last_name %></div>

    <div><%= f.submit "Create Student" %></div>
  <% end %>
</div>