Student Form:
<%= form_for(@student) do |s| %>
<label>Student First Name: </label>
<%= s.text_field :first_name %><br>

<label>Student Last Name: </label>
<%= s.text_field :last_name %><br>
<%= s.submit %>
<%end%>
