<h3>Student</h3>
 
<%= form_for(@student) do |f| %>
  <label>Student First Name:</label><br>
  <%=@student.first_name %><br>
 
  <label>Student Last Name</label><br>
  <%=@student.last_name %><br>

<% end %>