<h3>School Class Form</h3>
<div class="">
  <%= form_for(@school_class) do |f| %>
    <label for="class_title">Class:</label><br>
    <%= f.text_field :title %><br>

    <label for="room_number">Room:</label><br>
    <%= f.text_field :room_number %><br>

    <%= f.submit %>
  <% end %>
</div>
