<h1>School Class Form</h1>

<%= form_for(@school_class) do |f| %>
  <label for="first_name">Title</label>
  <%= f.text_field :title %> <br>

  <label for="room_number">Room Number</label>
  <%= f.text_field :room_number %><br>

  <%= f.submit %>
<% end %>