<h3>School Classes Form</h3>

<%= form_for (@school_class) do |f| %>
  <label>Class title:</label><br>
  <%= f.text_field :title %><br>
  <label>Class room number:</label><br>
  <%= f.text_field :room_number %><br>
  
  <%= f.submit %>
<% end %>

  