<h1>Edit School Class: </h1>
<%=form_for @school_class do |s|%>
  <label>Student class:</label><br>
  <%=s.text_field :title%><br>
  <label>Student room number:</label><br>
  <%=s.number_field :room_number%><br>
  <br><br>
  <%=s.submit%>
<%end%>
