<h1>Edit School Class Form:</h1>
<%= form_for(@schoolclass) do |f| %>
 <label>Edit Title: </label>
 <%= f.text_field :title %>

 <label>Edit Room Number: </label>
 <%= f.text_field :room_number %>

 <%= f.submit %>
 <% end %>
