<%= form_for(@school_class) do |f| %>
  <label>School Class title:</label><br>
  <%= f.text_field :title %><br>
  <label>School Class Room Number:</label><br>
  <%= f.text_field :room_number %><br>

  <%= f.submit %>
<% end %>
