<%= form_for(@school_class) do |f| %>

  <label> school_class.title: </label> <br>
  <%= f.text_tag :title %> <br>

  <label> school_class.: </label> <br>
  <%= f.text_tag :last_name %> <br>

  <%=g.submit %>
  <% end %>
