<%= form_for(@school_class) do |f| %>
<label>Title: </label>
<%= f.text_field :title, id: 'school_class_title' %>

<label>Room Nimber: </label>
<%= f.text_field :room_number, id: 'school_class_room_number' %>

<%= f.submit %>

<% end %>
