<%= form_tag school_class_path(@school_class), method: "put" do %>
  <h1>School Class Form</h1>
  <label>Title</label>
  <%= text_field_tag :school_class_title, @school_class.title %>
  <label>Room Number</label>
  <%= text_field_tag :school_class_room_number, @school_class.room_number.to_s %>
  <%= submit_tag "Update School class" %>
<% end %>
