<%= form_for(@school_class) do |f| %>
  <label>School title:</label><br>
  <%= f.text_field :title %><br>

  <label>School class room number</label><br>
  <%= f.text_field :room_number %><br>

  <%= f.submit %>
<% end %>
