<h1>Edit form</h1>

<%= form_for(@school_class) do |f| %>
  <label>School class title:</label><br>
  <%= f.text_field :title %><br>
  <label>Room number:</label><br>
  <%= f.text_field :room_number %><br>
  <%= f.submit %>
<% end %>