<h3>School Class From</h3>

<%= form_for(@school_class) do |f| %>
<label>Title:</label>
<%= f.text_field :title %><br><br>

<label>Room Number:</label>
<%= f.number_field :room_number, min: 1 %><br><br>

<%= f.submit %>
<% end %>
