<%= form_for(@school_class) do |s| %>
  <label>Class title:</label><br>
  <%= s.text_field :title %><br>
  <label>Class room number:</label><br>
  <%= s.text_field :room_number %><br>
  <%= s.submit %>
<% end %>
