<h1></h1>

<%= form_for @school_class do |f| %>
  <!-- Edit Title -->
  <%= f.text_field :title %>  
  
  <!-- Edit Room Number -->
  <%= f.number_field :room_number %>
  
  <!-- Submit -->
  <%= f.submit %>
<% end %>