<h1>School Classes</h1>
<%= form_for(@schoolclass) do |f| %>
  <label>Class Name:</label><br>
  <%= f.text_field :title %><br>

  <label>Room Number</label><br>
  <%= f.number_field :room_number %><br>

  <%= f.submit "Update School class" %>
<% end %>