<%= form_for(@school_class) do |f| %>
  <label>Class title:</label><br>
  <%= f.text_field :title %><br>

  <label>Room number:</label><br>
  <%= f.text_field :room_number %><br>

  <%= f.submit %>
<% end %>
