<h3>Edit School Classes Form</h3>

<%= form_for(@school_class) do |f| %>
  <label>Class Title: </label><br>
  <%= f.text_field :title, id: "school_class_title" %><br>

  <label>Class room number: </label><br>
  <%= f.text_field :room_number, id: "school_class_room_number" %><br>

  <%= f.submit %>
<% end %>
