<%= form_for(@schoolclass) do |f| %>
  <label>SchoolClass title:</label><br>
  <%= f.text_field :title %><br>

  <label>SchoolClass room number:</label><br>
  <%= f.text_field :room_number %><br>

  <%= f.submit %>
<% end %>
