<h1>School Class Form Edit</h1>
<%= form_for(@school_class) do |f| %>
<label>Class Title: </label>
<%= f.text_field :title %><br>
<label>Room #: </label>
<%= f.text_field :room_number %><br>
<%= f.submit %>
<%end%>
