<h3>School Class Form</h3>

<%= form_for(@school_class) do |c| %>
  <label>Title:</label><br>
  <%= c.text_field :title %><br>
  <label>Room Number:</label><br>
  <%= c.number_field :room_number %><br>

  <%= c.submit %>
<%end%>
