<h1>School Class Update Form</h1>

<%= form_for(@school_class) do |f| %>
  <label>Class title:</label><br>
  <%= f.text_field :title %><br>

  <label>Class room number:</label><br>
  <%= f.text_field :room_number %><br>

  <%= f.submit "Update School class" %>
<% end %>