<h1>Listing School Classes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Room Number</th>
    </tr>
  </thead>

  <tbody>
    <% @school_classes.each do |school_class| %>
      <tr>
        <td><%= link_to(school_class.title, school_class) %></td>
        <td><%= school_class.room_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
