<h1>SchoolClasses#index</h1>
<p>Find me in app/views/school_classes/index.html.erb</p>

<% @school_classes.each do |school_class| %>
  <div><%= link_to school_class.to_s, school_class_path(school_class) %></div>
<% end %>
