<% @school_classes.each do |school_classes| %>
  <div><%= school_classes.title %></div>
  <div><%= school_classes.room_number %></div>
<% end %>


class CreateStudents < ActiveRecord::Migration
  def change
    create_table :students do |t|
      t.string :first_name
      t.string :last_name

      t.timestamps null: false
    end
  end
end

class CreateSchoolClasses < ActiveRecord::Migration
  def change
    create_table :school_classes do |t|
      t.string :title
      t.integer :room_number

      t.timestamps null: false
    end
  end
end

