<h1>All the school classes</h1>

<% @school_classes.each do | school_class| %>
  title: <%= school_class.title %>
  room_number: <%= school_class.room_number %>
<% end %>
<h1><%= @school_class.title %></h1>
<h3><%= @school_class.room_number %></h3>
