<div>
  <% @school_classes.each do |school_class| %>
    <div class="">
      <%= link_to school_class.to_s, school_class_path(school_class) %>
    </div>
  <% end %>
</div>

<%= button_to "Create a new School Class", new_school_class_path, :method => "get" %>
