<h1> School Class List Form </h1>

<% if @school_classes.size > 0 %>
  <% @school_classes.each do |school_class| %>
      <div><%= link_to school_class.to_s, school_class_path(school_class) %></div>
  <% end %>
<% else %>
  <h3> There are no classes to show </h3>
<% end %>
