<h1>School Classes</h1>
 <br>

 <% @school_classes.each do |school_class| %>
   <div>
     <h4>Class Title: <%= school_class.title %></h4>
     <h5>Room Number: <%= school_class.room_number %></h5>
     <br>
   </div>
<% end %>
