<%= form_for(@school_class) do |f| %>
  <label>Post title:</label><br>
  <%= f.text_field : %><br>

  <label>Post Description</label><br>
  <%= f.text_area :description %><br>

  <%= f.submit %>
<% end %>