
<%= form_for(@school_class) do |f| %>
  <label>School Class Form</label>
  <label>Class title:</label><br>
  <%= f.text_field :title %><br>

  <label>Class room number: </label><br>
  <%= f.text_area :room_number %><br>

  <%= f.submit "Create School class" %>
<% end %>