<%= form_tag new_school_class_path do %>
  
    <label>School Class Form:</label><br>
    <%= text_field_tag :school_class_title %><br>

    <label>School Class Room Number:</label><br>
    <%= text_field_tag :school_class_room_number %><br>

  <%= submit_tag "Create School class" %>
<% end %>