<h3>School Class Form</h3>
<%= form_tag school_classes_path do %>
  <label>School Class title:</label><br>
  <%= text_field_tag :school_class_title %><br>

  <label>Post Description</label><br>
  <%= text_field_tag :school_class_room_number %><br>

  <%= submit_tag "Create School class" %>
<% end %>
