<h1> Add a New School Class Form: </h1>

<%= form_tag school_classes_path do %>
  <label>School Class Title:</label><br>
  <%= text_field_tag :'school_class[title]' %><br>

  <label>School Class Room Number:</label><br>
  <%= text_field_tag :'school_class[room_number]' %><br>

  <%= submit_tag "Create School class" %>
<% end %>