<h1>School Class Form</h1>

<div>
<%= form_for(@school_class) do |f| %>

  <label>Title:</label>
  <div><%= f.text_field :title %></div>

  <label>Room Number:</label>
  <div><%= f.number_field :room_number %></div>

  <div><%= f.submit "Create School class" %></div>
<% end %>
</div>