<%= form_for @school_class do |f| %> 
<label> School Class Form </label><br>  
<%= f.text_field :title %> 
<label> Room Number </label><br>  
<%= f.number_field :room_number %> 
<%= f.submit %> 
<% end %> 
