<h3>School Class Form</h3>

 <%= form_for @school_class , url: {action: "create"} do |f| %>
 	<label>School Class Title:</label><br>
 	<%= f.text_field :title %><br>

 	<label>School Class Room Number:</label><br>
 	<%= f.number_field :room_number %><br>

 	<%= f.submit %>
 <% end %>