<h3>School Class Form</h3>



<%= form_for(@school_class) do |f| %>
  <label>SchoolClass title:</label><br>
  <%= f.text_field :title %><br>

  <label>SchoolClass room_number</label><br>
  <%= f.number_field :room_number %><br>

  <%= f.submit %>
<% end %>
