<%= form_tag school_classes_path do %>
  <h1>School Classes Form</h1>
  <label>Fist Name:</label><br>
  <input type="text" id="student_first_name" name="school_class[title]"><br>
  <!--<%= text_field_tag :'first_name' %><br>-->

  <label>Last Name:</label><br>
  <!--<%= text_field_tag :'last_name' %><br>-->
  <input type="text" id="student_last_name" name="school_class[room_number]"><br>

  <%= submit_tag "Create Class" %>
<% end %>
