<%= form_tag("/school_classes") do %>
<label>Title</label>
  <%= text_field_tag('school_class[title]') %>
<label>Room Number</label>
<%= text_field_tag('school_class[room_number]') %>
<%=submit_tag "Submit Class" %>
<%end%>
