<%= form_tag new_schools_path_path do %>
  
    <label>School Class Title:</label><br>
    <%= text_field_tag :title %><br>

    <label>School Class Room Number:</label><br>
    <%= text_field_tag :room_number %><br>

  <%= submit_tag "Submit School class" %>
<% end %>