<h1>School Class Form</h1>
<%= form_for(@school_class) do |sc| %>
    <label>School Class Title:</label><br>
    <%= sc.text_field :title%><br>

    <label>School Class Room Number:</label><br>
    <%= sc.text_field :room_number%><br>

      <%= sc.submit %>
<%end%>
