<h1>School Class Form</h1>
<%= form_for(@schoolClass) do |f| %>
	<label for="">Title:</label><br>
	<%= f.text_field :title %><br>
	
	<label for="">Room Number</label><br>
	<%= f.number_field :room_number %><br><br>
	
	<%= f.submit %>
<% end %>