<h1>School Class Form</h1>

<%= form_for @school_class do |f| %>
  <%= f.text_field :title, placeholder: "Title" %><br />
  <%= f.number_field :room_number, placeholder: "Room Number" %><br />
  <%= f.submit %>
<% end %>
