<h3>School Class Form</h3>
<%= form_for(@school_class) do |f| %>
  <label>Class title:</label><br>
  <%= f.text_field :title %><br>

  <label>Class Room No.:</label><br>
  <%= f.text_field :room_number %><br>

  <%= f.submit "Create School class"%>
<% end %>
