<h1>School Class Form</h1>

<%= form_tag school_classes_path do |f| %>
<label>Title:</label>
<%= text_field_tag :title %> <br>
<label>Room Number:</label>
<%= text_field_tag :room_number %> <br>
<%= submit_tag "Create School class" %>
<% end %>