<h3>New School Class Form</h3>
     
<%= form_for(@schoolclass) do |f| %>
  <label>School Class title:</label><br>
  <%= f.text_field :title %><br>
 
  <label>School Class room number:</label><br>
  <%= f.text_field :room_number %><br>
 
  <%= f.submit %>
<% end %>