<label>School Class Form</label><br></br>
<%= form_for @school_class do |f| %>
  Title: <%= f.text_field :title %><br></br>
  Room Number: <%= f.number_field :room_number %><br></br>
  <%= f.submit %>
<% end  %>
