<h1>School Class Form</h1>

<%= form_for(@schoolclass) do |f| %>
  <label>school_class_title:</label><br>
  <%= f.text_field :title %><br>

  <label>school_class_room_number</label><br>
  <%= f.text_area :room_number %><br>

  <%= f.submit %>
<% end %>
