School Class Form
<%= form_for(@school_class) do |s| %>
<!-- <label>Student First Name: </label> -->
<%= s.text_field :title %><br>

<!-- <label>Student Last Name: </label> -->
<%= s.text_field :room_number %><br>
<%= s.submit %>
<%end%>
