<h1>School Class Form</h1>
<%= form_for(@school_class) do |s| %>
  <label>Class Title:</label><br>
  <%= s.text_field :title %><br>

  <label>Room Number:</label><br>
  <%= s.text_field :room_number %><br>

  <%= s.submit %>
<% end %>
