<h3>School Class Form</h3>

<%= form_for(@school_class) do |f| %>
  <label for="title">School Class Title:</label>
  <%= f.text_field :title %>
  <br>

  <label for="room_number">School Class Room Number:</label>
  <%= f.text_field :room_number %>

  <br>
  <%= f.submit %>
<%end%>
