<%= form_tag school_classes_path do %>
  <h1>School Class Form</h1>
  <label>Title</label>
  <%= text_field_tag :school_class_title %>
  <label>Room Number</label>
  <%= text_field_tag :school_class_room_number %>
  <%= submit_tag "Create School class" %>
<% end %>
