<h1>School Class Form</h1>

<%= form_for @school_class do |t| %>

<label>Class Title:</label><br>
<%= t.text_field :title %><br>

<label>Class Room Number:</label><br>
<%= t.text_field :room_number %><br>

<%= t.submit "Create School class" %>

<% end %>