<%= form_for(@schoolclass) do |f| %>
  <label>School Class Title:</label>
  <%= f.text_field :title %><br>

  <label>School Class Room Number:</label>
  <%= f.number_field :room_number %><br>

  <%= f.submit %>
<% end %>
