<h1>School Class Form</h1>
<p>Find me in app/views/school_classes/new.html.erb</p>
<%= form_for(@school_class) do |f| %>
  <label>class title:</label><br>
  <%= f.text_field :title %><br>

  <label>Room Number</label><br>
  <%= f.number_field :room_number %><br>

  <%= f.submit %>
<% end %>
