<h1>School Class Form</h1>
<%= form_for @school_class do |f| %>
  <!-- Title -->
  <%= f.text_field :title %>
  
  <!-- Room Number -->
  <%= f.number_field :room_number %>
  
  <!-- Submit -->
  <%= f.submit %>
<% end %>