<h3>School Class Form</h3>
  <%= form_for(@school_class) do |s| %>
	  <label>Title:</label>
	  <%= s.text_field :title %>
	  <label>Room Number:</label>
	  <%= s.text_field :room_number %>
	  <%= s.submit %>
	<% end %>
