<h2>School Class Form</h2>

<%= form_for(@school_class) do |f| %>

  <label>School Class Title</label>
  <%= f.text_field :title %>

  <label>School Class Room Number</label>
  <%= f.text_area :room_number %>

  <%= f.submit 'Create School class' %>

<% end %>
