<h1><%= @school_class.title %></h1>
<p><%= @school_class.room_number %></p>

<button><%= link_to "All Classes", school_classes_path %></button>
<button><%= link_to "Edit Class", edit_school_class_path %></button>
