<h1><%= @school_class.title %></h1>
<p>
  Room number: <%= @school_class.room_number %>
</p>

<%= button_to "Edit this School Class", edit_school_class_path, :method => "get" %>
<%= button_to "Back to all School Classes", school_classes_path, :method => "get" %>
